# 忽略原始数据集目录
data/
BraTS*/

# 忽略大型医学图像文件
**/*.nii.gz
**/*.npz

# 忽略系统缓存文件
__pycache__/
*.DS_Store

# 忽略所有 .pkl 文件（例如处理后的数据）
**/*.pkl
# 忽略所有 .npy 文件（例如处理后的数据）
**/*.npy
**/checkpoint_*.pth
nnUNet_results/Dataset999_BraTSPED/nnUNetTrainer__nnUNetPlans__3d_fullres/fold_0/*.pth
